ENV=development
PORT=8080
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ums_bff
DB_SSLMODE=disable

JWT_SECRET=change-me-in-production

VQM_BASE_URL=http://prod-view-query-manager-svc.comet.svc.cluster.local:7003
NBSS_BASE_URL=http://localhost:7005